<% provide(:title, "users") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | My Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <div class="container">
      <div class="col-align-self-center">    
        <div class="self-introduction">
          <h2 class="self border-bottom">自己紹介</h2>
          <%= @user.introduction %>
        </div>
          <button type="button" class="btn-profile-edit"><%= link_to "自己紹介を編集する", edit_user_path(current_user), style: "color: white" %></button>
          <%= image_tag @user.image, class: "profile-image" if @user.image.attached? %>
        <div class="chart align-items-center">
          <h2 class="skill pd-4">スキルチャート</h2>
        </div>
          <button type="button" class="btn-skill-edit"><%= link_to "スキルを編集する", category_show_path, style: "color: white" %></button>
      </div>
    </div>
  </body>
</html>